*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;	
}
::-webkit-scrollbar{width:0px;}
body::-webkit-scrollbar{width:0px;}
body,html{width:100%;height:100%;margin:0px;padding:0px;overflow-x:hidden;}
body{background:url("b.jpg");background-size:cover;background-repeat:no-repeat;background-attachment:fixed;overflow-x:hidden;}
#header{width:100%;min-height:70px;border:none;display:flex;flex-direction:row;align-items:center;justify-content:center;position:fixed;z-index:1;top:0px;left:0px;background:rgba(0,0,0,0.8);backdrop-filter:blur(6px);}
#header li{list-style-type:none;font-size:130%;font-weight:700;color:white;}
#con{width:100%;height:auto;display:flex;flex-direction:column;align-items:center;justify-content:flex-start;margin-top:70px;flex-wrap:wrap;border:none;position:absolute;backdrop-filter:blur(4px) brightness(110%);}
#solution{width:100%;height:auto;font-size:130%;margin-top:15px;border:none;color:black;padding:0px 10px;}
#solution p{line-height:1.3;text-indent:50px;text-align:justify;margin-top:10px;}
#con #image{width:100%;height:auto;display:flex;flex-direction:column;align-items:center;justify-content:space-between;}
#con #image div{width:230px;height:170px;border:none;border-radius:10px;overflow:hidden;box-shadow:0px 0px 7px black;transition:0.20s;margin-top:10px;}
#con #image div img{width:100%;height:100%;}
#con #image div:hover{transform:scale(1.1,1.1);}
#con .block1{width:95%;height:auto;box-sizing:border-box;overflow-x:hidden;}
#con .block1 h1{color:black;font-size:140%;}
#con .block1 h1::before{content:"";position:absolute;bottom:-5px;left:0px;width:50px;height:2px;background-color:black;}
/*#con .block1 h1::before:hover{width:100%;}*/
#con .block1 hr{height:3px;background-color:black;border:none;margin-top:5px;}
#con .block1 img{border-radius:10px;width:280px;transition:0.2s;margin-bottom:10px;}
#con .block1 img:hover{transform:scale(1.1,1.1);}
#con .block1 p{line-height:1.3;font-size:130%;text-align:justify;clear:left;}
#valimg:hover{transform:scale(2,2) !important;}
#tab{width:100%;height:auto;overflow:auto;}
#tab table{border-collapse:;}
#tab tr:nth-child(even){background-color:white;}
#tab tr:nth-child(odd){background-color:rgba(255,255,255,0.7);}
#tab tr,td{border:none;text-align:center;padding:6px 5px;font-size:100%;transition:0.15s;}
#tab tr td:first-child,#tab tr:first-child{background-color:rgba(0,0,0,1);color:white;}
#tab tr:hover{transform:scale(1,1.1);}
			
			#con button{background-color:green;font-size:150%;border-radius:25px;border:none;outline:none;color:white;box-shadow:0px 0px 7px black;cursor:pointer;padding:10px 20px;}
#con button:hover{background-color:white;color:black;}
